name: validate

on:
  pull_request:
    types: [opened, synchronize, ready_for_review]

jobs:
  validate:
    strategy:
      matrix:
        os: [ubuntu-latest]
        go-version: [oldstable, stable]
    runs-on: ${{ matrix.os }}
    steps:
      - name: install go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
      - name: checkout
        uses: actions/checkout@v6
      - name: format
        run: test -z $(gofmt -l -w -s ./)
      - name: lint
        uses: golangci/golangci-lint-action@v9.2.0
      - name: test
        run: go test -v -race -cover -coverprofile=coverage.txt ./... | tee -a test-results.txt
      - name: enforce 100% test coverage
        run: |
          if ! grep -q "coverage: 100.0% of statements" test-results.txt; then
            echo "::error::Test Coverage is not 100%"
            exit 1
          fi
      - name: benchmark
        run: |
          for i in {1..5}; do
            go test -run=XXX -bench=. | tee -a bench.txt
          done
